<<<<<<< HEAD
<section class="error">
  <p class="error__desc">{{statusCode}}. <span class="error__msg">{{errorMessage}}</span></p>
  <img class="error__image" src="/images/error.png" alt="error">
</section>
=======
<h1>token error</h1>
>>>>>>> cdb024cb6e14afe28e9191ee41bde16595dcd7ce
