
  <div >
 
  {{#each data}}
   
   <a href="/viewpic/{{this.id}}"> <img class="img-lisener" title={{this.title}} src={{this.pic_url}}>
   </a>
   {{/each}}
 </div>

  <div>
   <a href="/uploadpic"><button type="button">uplode</button></a>
   <input type="text" placeholder="enter path "></input>
</div>




