 <div class="navbar__container">
      <nav>
        <ul class="navbar__list">
          <li class="navbar__item">
            <a href="/">login</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/#">singup</a>
          </li>
        </ul>
      </nav>
    </div>