<nav class="navbar">
  <div class="container cont-navbar">
    <h1 class="navbar__header">
      <span class="navbar__header--green">I</span>nsta
      <span class="navbar__header--green">I</span>mages</h1>
    <ul class="navbar__list">
      <li class="navbar__item">
        <a class="navbar__link" href="/">Home</a>
      </li>
      {{#if loggedIn}}
      <li>
        <a class="navbar__link" href="/">Welcome {{userName}}</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/logout">LogOut</a>
      </li>
      {{else}}
      <li class="navbar__item">
        <a class="navbar__link" href="/login">Login</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/signup">Sign Up</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>