<nav class="navbar">
  <h1>
    <span>I</span>nsta
    <span>I</span>mages</h1>
  <ul class="navbar__list">
    <li class="navbar__item">
      <a class="navbar__link" href="/">Home</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="/login">Login</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="/signup">Sign Up</a>
    </li>
  </ul>
</nav>