<nav class="navbar">
  <h1>
    <span>I</span>nsta
    <span>I</span>mages</h1>
  <ul class="menu">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
    <li>
      <a href="/signup">Sign Up</a>
    </li>
  </ul>
</nav>